@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width:960px){
  .content-1-pc, .all_box_pc, .footer-pc  {
    display: none;
  }
  .content-1-mobile, .all_box_mobile, .footer-mobile {
    display: block;
  }
}

/* reset */
body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable", sans-serif;
  margin: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
}

/* 홈퍼니싱 */
.point:hover > .item-list {
  opacity: 100;
  visibility: visible;
}
.point:hover .point-2 {
  background-color: #efefef;
}
li > a:active {
  opacity: 0;
}

/* 이달의 베스트 상품 */
.gallery-container {
  display: flex;
  gap: 20px;
  /* padding: 2rem; */
  align-items: center;
  justify-content: space-between;
  min-height: 725px;
}

.gallery-item {
  position: relative;
  height: 725px;
  width: 300px;
  transition: width 0.5s ease;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item .title {
  position: absolute;
  justify-content: center;
  width: 100%;
  top: 1rem;
  left: 0rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.gallery-item .sub-title {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.gallery-item a {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.gallery-item .filter {
  height: 100px;
  transition: height 0.5s ease;
}
.gallery-item:hover .filter {
  height: 600px;
}
.gallery-item:hover .sub-title {
  opacity: 1;
}

.gallery-item:hover a {
  opacity: 1;
}

.gallery-item:hover {
  width: 560px;
}

.gallery-item:hover .title {
  opacity: 0;
}

.gallery-item:not(:hover) {
  width: 237px;
}

/* Active state for touch devices */
.gallery-item.active {
  width: 513px;
}

.gallery-item.active .title {
  opacity: 1;
}

.gallery-item:not(.active):not(:hover) {
  width: 300px;
}

.category a.active {
  opacity: 0 !important;
}

/* content-1 mobile swiper*/
.con {
  min-width: 961px;
}
.content-1 .content-1-mobile .swiper1 {
  height: 638px;
}
.swiper1 {
  width: 960px;
  height: 540px;
}

.swiper1 .swiper-wrapper {
  margin-left: 24px;
  margin-right: 24px;
}
.swiper1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #989898;
}

.swiper1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-1 .swiper1 .swiper {
  height: 540px;
  min-width: 0px
}

/* all_box_mobile swiper*/
.swiper3 {
  width: 960px;
  height: 540px;
}

.swiper3 .swiper-wrapper {
  margin-left: 24px;
  margin-right: 24px;
}
.swiper3 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #989898;
}

.swiper3 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.HomeFurnishing .swiper2 .swiper {
  height: 830px;
  min-width: 0px
}
.HomeFurnishing .swiper3 .swiper {
  height: 500px;
  min-width: 0px
}

/* footer mobile */
.main-box {
  max-width: 960px;
  min-height: 800px;
  height: full;
}

.main-text-box {
  padding-right: 24px;
  padding-left: 24px;
}

.bar-1 {
  border-bottom: 1px solid #d5d5d5;
}

.icon-box {
  margin-left:auto;
  cursor:pointer;
}

.sub-icon-box-1 {
  color: #5f5f5f;
  background-color: #ffffff;
  border: 1px solid #4e4e4e;
  width: 110px;
  height: 37px;
  font-size: smaller;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.sub-icon-box-2 > li {
  color: #666666;
  background-color: #ffffff;
  border: 1px solid #a9a9a9;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.text-box-1 > a {
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
}

.text-box-1 > a > span {
  color: #626262;
  font-weight: 600;
}

.text-box-3 {
  padding-bottom: 30px;
  padding-top: 24px;
  color: #737373;
  font-size: small;
  font-weight: normal;
}

.sub-text-box > ul ul {
  display: none;
}

.sub-text-box ul > li.active > ul {
  display: block;
}

.text-box-1 > a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  font-weight: 900;
}

.text-box-1.active > a::after {
  content: "\f077";
}

.img-1 {
  margin-top: 220px;
  width: 380px;
  height: 91px;
}

.img-2 {
  margin-left: 50px;
  margin-top: 10px;
  width: 525px;
  height: 300px;
}
/* rolling */
.wrap-box {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  transform: translate(0) rotate(0);
}
.wrap-box:nth-child(2) {
  background-color: white;
}
.rolling-list {
  display: flex;
  flex-shrink: 0;
}
.list {
  margin: 0 6px;
  font-size: 200px;
  color: transparent;
  color: #b2ff8222;
  font-weight: 600;
  /* -webkit-text-stroke: #b2ff8244 6px; */
}

@keyframes rolling1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rolling2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.rolling-list.original {
  animation: rolling1 120s linear infinite;
}
.rolling-list.clone {
  animation: rolling2 120s linear infinite;
}


/* ---- 배너 ---- */
.all-wrap {
  /* border: 1px solid red; */
  margin-top: 25px;
}
.banner > ul > li {
  display: none;
  position: relative;
}
.banner > ul > li.active {
  display: block;
}
.swiper-box-1 .swiper {
  max-width: 1620px;
  height: 441px;
}
.banner-abt-box {
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 437px;
  height: 441px;
}

/* ---- 탭 상단 ---- */
.tab-head {
  height: 32px;
  margin-top: 24px;
  justify-content: center;
}
.tab-head > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.tab-head a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  border: 2px solid #ececec;
  width: 84px;
  height: 32px;
  border-radius: 100px;
}
.tab-head > ul > li.active a {
  background-color: white;
  border-color: black;
}

/* ---- 탭 바디/슬라이드 이미지 ---- */
.tab-body {
  max-width: 1620px;
  margin-top: 24px;
}

.tab-body > ul > li {
  display: none;
  position: relative;
}

.tab-body > ul > li.active {
  display: block;
}

.tab-body-img-list {
  /* border: 1px solid red; */
}


.tab-body-img-list .swiper {
  height: 344px;
}
.tab-mobile-img-list .swiper {
  height: 400px;
}
/* 이미지 스타일 */
.tab-body > ul > li .tab-body-swiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 모바일 이미지 스타일 */
.tab-body-mobile
  > ul
  > li
  .tab-mobile-swiper
  .swiper-wrapper
  .swiper-slide
  a
  img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.tab-body-mobile > ul > li .tab-mobile-swiper {
  margin-left: 24px;
}

/* box-bg 초기 상태: height 0으로 설정 */
.box-bg {
  /* box-sizing: border-box; */
  /* border-top: 3px solid white; */
  overflow: hidden;
  /* box-sizing: border-box; */
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  width: 100%;
  height: 0; /* 초기 상태에서는 숨겨짐 */
  transition: height 0.3s ease-in-out; /* height 변화에 애니메이션 효과 추가 */
}

.box-bg > .top-white {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  top: 0;
  left: 0;
}

/* 호버 시 box-bg가 위로 슬라이드됨 */
.swiper-slide:hover .box-bg {
  height: 30%; /* 호버 시 box-bg가 전체 슬라이드 영역을 덮도록 확장 */
}

/* 각 텍스트의 위치 설정 */
.box-bg > .brand {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

.box-bg > .name {
  position: absolute;
  top: 35px;
  left: 10px;
  color: #afafaf;
}

.box-bg > .price {
  position: absolute;
  top: 60px;
  left: 10px;
  color: white;
}

.box-bg-2 {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  width: 100%;
  height: 100%;
  display: flex; /* Flexbox로 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
}

.flus-menu {
  font-size: 24px;
  color: white; /* 텍스트 색상 흰색 */
  text-decoration: none; /* 기본 언더라인 제거 */
}


.box-bg-2:hover .flus-menu {
  text-decoration: underline; /* 기본 언더라인을 텍스트에 추가 */
}




/* 오버레이 */
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  opacity: 0; /* 기본적으로 숨김 */
  transition: opacity 0.3s ease-in-out;
}

.overlay-text {
  color: white; /* 텍스트 색상 */
  font-size: 20px; /* 텍스트 크기 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.image-container:hover .overlay {
  opacity: 1; /* 이미지 호버 시 오버레이 나타나기 */
}

/* 모바일 상단 텍스트 */
.mobile-top-text {
  display: flex;
  /* border: 1px solid #000; */
  margin-left: 24px;
  margin-bottom: 20px;
}
.mobile-top-text > span {
  font-size: 24px;
  font-weight: bold;
  /* border: 1px solid red; */
}

.swiper-slide-blank {
  display: none !important;
}