@media screen and (max-width: 1650px) {
  .img-all-box {
    opacity: 0;
  }
  .img-all-box-2 {
    opacity: 1;
  }
  .bottom-colloction {
    opacity: 0;
  }
  .bottom-colloction-2 {
    opacity: 1;
  }
}

/* @media screen and (max-width: 1400px) {
  .top-bar .menu-box {
    opacity: 0;
  }
  .mobil-top-bar .menu-box {
    opacity: 1;
  }
} */

@media screen and (max-width : 1024px) {
  .top-bar .menu-box {
    opacity: 0;
  }
  .ss-text > p:first-child {
    font-size: 44px;
    transition: 0.3s;
  }
  .ss-text > p:last-child {
    font-size: 20px;
    transition: 0.3s;
  }
}

@media screen and (max-width: 960px) {
  .top-title-all-mobile {
    display: block;
  }
  .top-title-all {
    display: none;
  }
  .img-all-box-2 {
    display: none;
  }
  .bottom-colloction-2 {
    display: none;
  }
}
