@media screen and (max-width: 1650px) {
  .img-all-box {
    opacity: 0;
  }
  .img-all-box-2 {
    opacity: 1;
  }
  .bottom-colloction {
    opacity: 0;
  }
  .bottom-colloction-2 {
    opacity: 1;
  }
}

/* ---- 탑바 ---- */
@media screen and (max-width: 1280px) {
  .top-bar .menu-box {
    display: none;
  }
  .top-bar-2 .menu-box {
    display: none;
  }
  .ss-text > p:first-child {
    font-size: 44px;
    transition: 0.3s;
  }
  .ss-text > p:last-child {
    font-size: 20px;
    transition: 0.3s;
  }
  .top-bar .contant {
    margin-left: 70px;
    margin-right: 70px;
  }
  .top-bar-2 .contant {
    margin-left: 70px;
    margin-right: 70px;
  }
  .bt-text-box {
    flex-wrap: wrap;
    gap: 0;
  }
  .all-box {
    height: 841px;
  }
}

@media screen and (max-width: 1080px) {
  .tab-body-mobile,
  .mobile-top-text > span {
    display: block;
  }
  .tab-body,
  .tab-head,
  .banner {
    display: none;
  }

}
@media screen and (max-width: 960px) {
  .top-bar .contant {
    margin-left: 24px;
    margin-right: 24px;
  }
  .top-bar-2 .contant {
    margin-left: 24px;
    margin-right: 24px;
  }
  .ss-text,
  .swiper-pagination,
  .top-title-all,
  .img-all-box-2,
  .bottom-colloction-2, 
  .swiper-pagination1 {
    display: none;
  }
  .top-title-all-mobile,
  .ss-text-moblie {
    display: block;
  }
  .bt-text-box .bt-list {
    height: 200px;
    gap: 0;
  }
  .all-box {
    height: 655px;
    margin-left: 24px;
    margin-right: 24px;
  }
}
