/* 스와이퍼 */
.swiper {
  min-width: 1080px;
  height: 100vh;
}
/* .swiper-slide-1 {
    position: relative;
} */
.swiper-slide-1 {
  background-image: url(image-slide/banner-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-slide-2 {
  background-image: url(image-slide/banner-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-slide-3 {
  background-image: url(image-slide/banner-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-slide-4 {
  background-image: url(image-slide/banner-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.swiper-pagination1 {
  position: absolute;
  margin-bottom: 50px;
  left: 0;
  display: flex;
  padding: 0 1em;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  z-index: 2;
}
.progress__bar {
  position: relative;
  width: 150px;
  height: 3px;
  margin: 0 20px;
  background-color: #969696;
}
.progress__fill {
  position: absolute;
  inset: 0;
  display: block;
  height: 100%;
  background-color: #fff;
}
.current {
  color: #fff;
}

.ss-text {
  position: absolute;
  top: 335px;
  left: 150px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* ---- 모바일 텍스트 버전 ---- */
.ss-text-moblie {
  position: absolute;
  top: 335px;
  left: 150px;
  z-index: 2;
  display: none;
  text-align: center;
  white-space: nowrap;
}
.ss-bt-box {
  display: flex;
  
}
.ss-bt-box p {
  padding: 12px 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
}
/* ---- 끝 ---- */

/* 탑바 */
.top-bar {
  position: fixed;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
  white-space: nowrap;
}
.top-bar:hover {
  color: #333;
  background-color: #fff;
  transition: 0.3s;
  border-bottom: 1px solid #ebebeb;
}
.contant {
  height: 100%;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}
.logo {
  width: 360px;
  display: flex;
  display: flex;
  align-items: center;
}
.logo::before {
  content: "";
  width: 118px;
  height: 18px;
  background-image: url(image-slide/logo.png);
  background-repeat: no-repeat;
  transition: 0.3s;
}
.top-bar:hover .logo::before {
  background-image: url(image-slide/logo-color.png);
}
.menu-box {
  transition: 0.3s;
}
.menu-box > ul > li > a {
  position: relative;
}
.menu-box > ul > li > a::after {
  content: "";
  background-color: #0058a3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.4s;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}
.menu-box > ul > li:hover > a::after {
  width: 100%;
}
.menu1-all::after {
  content: "";
  background-color: #fff;
}
.menu-2 > li {
  padding: 0 20px;
}
.menu3-all {
  width: 1620px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.menu3-left-box {
  background-color: #0058a3;
}
.menu3-left-box > ul {
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
  gap: 20px;
}
.menu3-right-box {
  background-color: #fff;
  flex-grow: 1;
  padding-left: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m3-rig {
  display: flex;
  gap: 70px;
}
.menu3-list-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.menu3-text-box {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.menu3-text {
  text-align: center;
}
.menu3-button {
  background-color: #101010;
  color: #fff;
  /* width: 53px; height: 25px; */
  padding: 3px 10px;
  text-align: center;
  border-radius: 50px;
}
.m3-left {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
.m3-l-btn {
  background-color: #fff;
  width: 23px;
  height: 23px;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
}
.m3-l-btn > span {
  font-size: 16px;
  text-align: center;
  line-height: 23px;
  margin-left: 2.5px;
  color: #c8c8c8;
}
.user-box {
  width: 360px;
  display: flex;
  justify-content: flex-end;
}
.user-box > ul {
  display: flex;
  align-items: center;
  gap: 12px;
}
.user-box > ul > li > a {
  display: flex;
  align-items: center;
  position: relative;
}
